VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_HEALTH_SHORTCUT_NAME=RV-ANALISE-ENXUTO-ASSINADO
VITE_HEALTH_SHORTCUT_URL=https://www.icloud.com/shortcuts/228efc67643d470a975ae95b19c0959e
VITE_HEALTH_SHORTCUT_SUPPORTS_MODES=false
